.course-details-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}
.content-container {
  width: 65vw;
  height: 40vh;

  align-self: center;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  box-shadow: 2px 2px 2px 2px #e8e8e8;
}
.logo-image {
  width: 40%;
  height: 100%;
  margin-right: 20px;
}
.course-name {
  color: #1e293b;
}
.course-description {
  color: #475569;
  width: 90%;
  font-weight: 500;
}
.failure-view {
  align-self: center;
  text-align: center;
  margin-top: 5%;
}
.failure-image {
  width: 50vw;
  height: 50vh;
}
.failure-heading {
  color: #475569;
}
.failure-description {
  color: #475569;
}
.retry-btn {
  background-color: #4656a1;
  border: none;
  outline: none;
  color: #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  font-weight: 500;
  font-size: 15px;
}
.loader {
  align-self: center;
  margin-top: 10%;
}
